a img{
    margin: 18px auto auto;
    height: 50px;
    width: 50px;
}

.box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .85);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

h2 {
    margin: 0 0 30px;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:valid~label,
.box .inputBox input:focus~label {
    top: -18px;
    left: 0;
    color: #039af4;
    font-size: 12px;
}

.box input[type="button"]
{
    border: none;
    outline: none;
    color: white;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
}

.box input[type="button"]:hover{
    background-color: red;
    color: yellow;
}

.box #button2 {
    margin-left: 100px;
}